<header>

	<div class="container-fluid">
		<div class="row colorOne">
			<div class="col-sm-4 text-center">
				<div class='dropdown'>
					<button class="dropbtn">Dropdown</button>
					<div class="dropdown-content text-left">
						<a href="/">Home</a>
						<a href="/main">Main</a>
						<a href="/">link2</a>
						<a href="/">...</a>
					</div>
				</div>
			</div>
			<div class="col-sm-4 text-center">
				<p>middle</p>
			</div>
			<div class="col-sm-4 text-center">
				<span class="clock"></span>
			</div>
		</div>
	</div>
</header>